{% extends base.html %}
<title>Our Group - 3204 Group 12</title>
{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information
                about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Matriculation Number</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Matriculation Number</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td> Cherie Teo Ing Ee</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Kee Zhong Yi</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Lee Zhi Yang, Aloysius</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Muhamad Afiq Busari</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Seah Yuan Shengh</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Tse Kin Ping</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Wee Yu Xiang</td>
                        <td>200</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
{% endblock %}
</body>
</html>
