{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block sidenav %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Brief Introduction
                        <p class="small text-white">This Dashboard shows our team's findings on the datasets after performing our analysis.</p>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{{ url_for('charts') }}">View More</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        KNN Chart
                    </div>
                    <div class="card-body">
                        <img src="/static/assets/img/Knn_heatmap.png" alt="KNN Heatmap" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Decision Tree Chart
                    </div>
                    <div class="card-body">
                        <img src="/static/assets/img/DecisionTree_heatmap.png" alt="Decision Tree Heatmap" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Random Forest Chart
                    </div>
                    <div class="card-body">
                        <img src="/static/assets/img/RandomForest_heatmap.png" alt="Random Forest Heatmap" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Precision Bar Chart
                    </div>
                    <div class="card-body">
                        <img src="/static/assets/img/precision_bar.png" alt="Precision Chart" class="image-fliud" width="100%" />
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Accuracy Bar Chart
                    </div>
                    <div class="card-body">
                        <img src="/static/assets/img/accuracy_bar.png" alt="Accuracy Chart" class="image-fliud" width="100%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                The Team
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Matriculation Number</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Matriculation Number</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td> Cherie Teo Ing Ee</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Kee Zhong Yi</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Lee Zhi Yang, Aloysius</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Muhamad Afiq Busari</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Seah Yuan Shengh</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Tse Kin Ping</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Wee Yu Xiang</td>
                        <td>200</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/charts/precision-bar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
{% endblock %}
